@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Ajuste para cards de productos destacados en home.html */
#destacados .card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#destacados .card-img-top {
  height: 220px;
  object-fit: cover;
}
#destacados .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7F7;
  color: #333333;
  /*background-image: url('../img/papelv2.png');
  /*background-image: url('../img/papel.png'); */
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  background-size: cover;       /* ajusta a pantalla */
  background-repeat: repeat;    /* se repite como textura */
  
}

h1, h2, h3, .navbar-brand {
  font-family: 'Playfair Display', serif;
  color: #8B4513; /* Marrón claro */
}

/* === NAVBAR === */
.navbar {
  background-color: #2E8B57; /* Verde esmeralda */
}

.navbar a {
  color: white !important;
}

/* === BOTONES === */
.btn-primary {
  background-color: #2E8B57;
  border-color: #2E8B57;
}

.btn-outline-primary {
  color: #2E8B57;
  border-color: #2E8B57;
}

.btn-outline-primary:hover {
  background-color: #2E8B57;
  border-color: #2E8B57;
  color: white;
}

.btn-primary:hover {
  background-color: #246b44;
  border-color: #246b44;
}

/* === TEXTOS === */
.highlight {
  color: #FFD700; /* Amarillo mostaza */
  font-weight: bold;
}

.text-secondary {
  color: #666666 !important;
}

/* === SECCIONES === */
.section-bg {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
  padding: 2rem;
  margin-bottom: 2rem;
}

/* === FOOTER === */
.footer-custom {
  background-color: #2E8B57;
  color: white;
}

.img-blog {
  max-width: 350px; /* ajusta el tamaño */
  height: auto;
}

#redes-sociales a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.logo-fondo-verde {
  background-color: #2E8B57;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}
.texto-esmeralda {
color: #198754;
}
.fondo-esmeralda {
background-color: #198754;
}

.nav-pills .nav-link.active {
background-color: #198754 !important; 
color: #fff !important;
}
.nav-pills .nav-link.active i {
color: #fff !important; 
}
.btn-esmeralda {
background: linear-gradient(145deg, #2E8B57, #3CB371);
border: none;
color: white;
padding: 12px 30px;
border-radius: 25px;
font-weight: 600;
transition: all 0.3s ease;
box-shadow: 0 4px 15px rgba(46, 139, 87, 0.3);
}

